{
  "$schema": "https://json.schemastore.org/swcrc",
  "test": ".*\\.ts$",
  "exclude": [".*\\.test.ts$"],
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true
    },
    "transform": {
      "decoratorVersion": "2022-03"
    },
    "target": "esnext",
    "baseUrl": "./source",
    "paths": {
      "~/*": ["./*"]
    }
  },
  "module": {
    "type": "es6"
  }
}
