name: Build

on:
  push:
    paths-ignore:
      - 'docs/**'
      - '*.md'

jobs:
  build:
    name: build on node@${{ matrix.node-version }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version:
          - 22
          - 24

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          persist-credentials: false
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: ${{ matrix.node-version }}

      - run: npm ci
      - run: npm run check
      - run: npm run build
