name: Test

on:
  push:
    paths-ignore:
      - 'docs/**'
      - '*.md'
  # schedule:
  #   - cron: 0 20 * * *

jobs:
  test:
    name: test on ${{ matrix.os-release }} node@${{ matrix.node-version }}
    runs-on: ${{ matrix.os-release }}

    strategy:
      matrix:
        node-version:
          - 22
          - 24
        os-release:
          - ubuntu-latest
          - windows-latest

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          persist-credentials: false
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: ${{ matrix.node-version }}

      - run: npm ci
      - run: npm run test

  coverage:
    name: collect coverage
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          persist-credentials: false
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version-file: package.json

      - run: npm ci

      - run: npm run test:unit
      - uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: unit

      # - run: rm -rf coverage

      # - run: npm run test:integration
      # - uses: codecov/codecov-action@eaaf4bedf32dbdc6b720b63067d99c4d77d6047d # v3
      #   with:
      #     token: ${{ secrets.CODECOV_TOKEN }}
      #     flags: integration
